* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sofia-pro, sans-serif;
}

html,body {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    height:100%;
    scroll-behavior: smooth;
}

.navbar {
    background: #fef3eb;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    padding-top: 0;
    z-index:999;
}

.navbar__container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

#navbar__logo{
    /* background-color: #5C2466; */
    height: 60%;
    width: auto;
    /* -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; */
    display:flex;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 0; 
    /* transform: translateX(-70px); */
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style:none;
    text-align: center;
}

.navbar__item{
    height: 80px;
    transform: translateY(15px);
}

.navbar__links{
    font-family: 'Sofia Pro', sofia-pro, sans-serif;
    color: #f36300;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    padding: 0 1rem;
    height: 100%;
}



.navbar__links:hover {
    color: #f9b678;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px){
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        /* padding-left: 50px; */
    }
    #navbar__logo{
        margin-left:30px;
        width: 3rem;
        height: 3rem;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #fef3eb;
    }
    
    .navbar__menu.active{
        background: #fef3eb;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 2px;
        margin: 6px auto;
        transition: all 0.3s ease-out;
        background: #f36300;
    }

    .navbar__item {
        width: 100%;
        transform: translateY(-15px);
    }

  .nav__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

.main {
    background: transparent;
    height: auto;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.main__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 0;
    height: auto;
    min-height: 85vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-top: 0;
    position: relative;
}

.previous {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#previous {
    margin: 0;
    padding: 0;
    width: 180px;
    height: auto;
    transform: translateY(-30px);
}

.project_title {
    width: 40%;
    height: auto;
    transform: translateY(-100px);
}

.overview {
    width: 60%;
    transform: translateY(-80px);
}

.subhead {
    width: 60%;
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 15px;
    transform: translate(-15px);
}

.paragraph {
    width: 60%;
    padding-bottom: 30px;
}

.overview p {
    font-family: 'Sofia Pro Extra Light', sofia-pro ,sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.4em;
}

.paragraph p {
    font-family: 'Sofia Pro Extra Light', sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    padding-bottom: 20px;
    line-height: 1.4em;
}

.hero_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.hero_section a{
    text-decoration: none;
}

#fm_hero,
#wa_hero,
#crocker_hero,
#t5_hero {
    width: 600px;
    height: auto;
    margin-bottom: 30px;
}

#wwf_hero {
    width: 450px;
    height: auto;
    margin-bottom: 30px;
}

#fm_mobile {
    display: none;
}

.interview, .survey {
    padding: 20px;
    padding-top: 0;
}

#interview_img {
    width: 220px;
    height: auto;
}

#survey_img {
    width: 300px;
    height: auto;
}

#matrix {
    width: 520px;
    margin-bottom: 20px;
}

.research_img h4 {
    margin-top: 8px;
    font-family: 'Sofia Pro Extra Light', sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

.market_research_img h4 {
    margin-top: 8px;
    font-family: 'Sofia Pro Extra Light', sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

.form-button {
    background-color: #ff6600;
    color: #fff;
    border-radius: 6px;
    border: 2px solid #ff6600;
    cursor: pointer;
    text-align: center;
    padding: 0.2em 0.8rem;
    font-size: 1rem;
}

#wa_btn {
    background-color: #7e341b;
    border: 2px solid #7e341b;
}

#wwf_btn {
    background-color: #000;
    border: 2px solid #000;
}

#t5_btn {
    background-color: #EA6E6E;
    border: 2px solid #EA6E6E;
}

.paragraph .list_items p {
    padding-bottom: 0;
}

.list_items {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.list_items p {
    padding-left: 24px;
    font-family: 'Sofia Pro Extra Light', sofia-pro, sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.paragraph h3 {
    font-family: 'Sofia Pro Light', sofia-pro, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

.paragraph h4{
    font-family: 'Sofia Pro Extra Light', sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin: 8px 0;
}

.research_img {
    display: flex;
    width: 100%;
    align-items: center;
}

.market_research_img {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
}

.market_research_img h4 {
    margin-top: 8px;
    font-family: 'Sofia Pro Extra Light', sofia-pro, sans-serif;
    font-weight: 300;
    align-self: flex-start;
    margin-left: 18px;
}

#fm_persona, 
#ideation, 
#flow_1, 
#flow_2, 
#flow_3,
#fm_LF_1,
#fm_LF_2,
#fm_LF_3,
#fm_moodboard,
#fm_styleguide,
#fm_final_1,
#fm_final_2,
#fm_final_3,
#fm_final_4,
#wa_persona,
#wa_styleguide,
#board,
#wa_project,
#wa_schedule,
#wa_1,
#wa_2,
#wa_3,
#wa_4,
#wa_arrive,
#wwf_persona,
#wwf_styleguide,
#wwf_moodboard,
#wwf_styletile,
#wwf_ad,
#wwf_sitemap,
#wwf_1,
#wwf_2,
#wwf_3,
#wwf_4,
#wwf_5,
#wwf_6,
#wwf_7,
#wwf_8,
#wwf_9,
#wwf_10,
#wwf_11,
#wj_moodboard,
#storyboard,
#wj_1,
#wj_2,
#wj_3,
#wj_4,
#wj_5,
#wj_6,
#wj_7,
#crocker_moodboard,
#crocker_logo,
#crocker_styleguide,
#crocker_exploration,
#crocker_final_poster,
#crocker_mobile,
#crocker_location,
#crocker_desktop,
#t5_1,
#t5_2,
#t5_3,
#t5_4,
#t5_5,
#t5_6,
#t5_7,
#t5_styleguide,
#t5_logo,
#t5_poster,
#t5_ig_ad,
#t5_wall_ad,
#t5_userflow,
#t5_merchandise {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#crocker_clearspace {
    width: 60%;
    margin-top: 8px;
    margin-bottom: 20px;
}

#board,
#wa_project,
#wa_schedule,
#wa_1,
#wa_2,
#wa_3,
#wa_4,
#wa_arrive,
#wwf_1,
#wwf_2,
#wwf_3,
#wwf_4,
#wwf_5,
#wwf_6,
#wwf_7,
#wwf_8,
#wwf_9,
#wwf_10,
#wwf_11,
#t5_poster,
#t5_ig_ad,
#t5_userflow,
#t5_merchandise,
#t5_wall_ad,
#crocker_exploration,
#crocker_final_poster,
#crocker_mobile,
#crocker_location,
#crocker_desktop,
#fm_final_1,
#fm_final_2,
#fm_final_3,
#fm_final_4 {
    margin-top: 8px;
}

#flow_1, 
#flow_2, 
#flow_3,
#fm_LF_1,
#fm_LF_2,
#fm_LF_3 {
    margin-top: 5px;
}

#case_study_btn {
    margin-top: 30px;
    margin-bottom: 30px;
}

.t5_visual {
    width: 100%;
    display: flex;
    padding-bottom: 40px;
}

.t5_img_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.t5_img_block h4 {
    font-family: 'Sofia Pro Light', sofia-pro, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

#t5_wordlist,
#t5_moodboard,
#t5_businesscard,
#t5_postcard {
    width: 100%;
    height: auto;

}

.between {
    display: block;
    width: 30px;
}


@media screen and (max-width: 900px){

    .main__container {
        padding: 0;
        margin: 0;
    }

    #previous {
        transform: translateY(-30px);
    }
    #matrix {
        width: 480px;
    }

    #wa_hero, 
    #crocker_hero,
    #t5_hero {
        width: 500px;
        height: auto;
        margin-bottom: 30px;
    }

    #wwf_hero {
        width: 400px;
    }

    iframe {
        width: 480px;
        height: 275px;
    }

}

@media screen and (max-width: 768px) {
    .main__container {
        padding-top: 130px;
    }

    .project_title {
        width: 50%;
        transform: translateY(-80px);
    }

    #previous {
        display: none;
    }

    .overview {
        width: 70%;
        transform: translateY(-50px);
    }

    .paragraph {
        width: 70%;
    }

    .subhead {
        width: 70%;
    }

    #interview_img {
    width: 176px;
    height: auto;
    }

    #survey_img {
        width: 240px;
        height: auto;
    }

    #matrix {
        width: 416px;
    }
}

@media screen and (max-width: 600px){
    #fm_mobile {
        width: 180px;
        height: auto;
        display: block;
        margin-bottom: 30px;
    }

    #fm_hero{
        display: none;
    }

    #wa_hero,
    #crocker_hero,
    #t5_hero {
        width: 400px;
    }

    #wwf_hero {
        width: 300px;
    }

    .overview p {
        font-size: 1rem;
        line-height: 1.6em;
    }

    .paragraph p {
        font-size: 1rem;
        line-height: 1.6em;
    }

    #interview_img {
    width: 132px;
    height: auto;
    }

    #survey_img {
        width: 180px;
        height: auto;
    }

    #matrix {
        width: 400px;
    }

    iframe {
        width: 400px;
        height: 229px;
    }

}

@media screen and (max-width: 480px) {
    .project_title {
        width: 65%;
    }
    #interview_img {
    width: 110px;
    height: auto;
    }

    #survey_img {
        width: 150px;
        height: auto;
    }

    #wa_hero,
    #crocker_hero,
    #t5_hero {
        width: 300px;
    }

    #wwf_hero {
        width: 100%;
    }

    .research_img {
        transform: translateX(-20px);
    }

    #matrix {
        width: 300px;
    }

    iframe {
        width: 320px;
        height: 172px;
    }

    .paragraph {
        padding-bottom: 20px;
    }

}


/* Footer */

.footer__container {
    background-color: #fef3eb;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 0;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    width: 100%;
    display: flex;
    margin-left: 60px;
    margin-top: 0;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px;
    margin-top: 0;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

#footer_about {
    flex-grow: 2;
}

#footer_contact {
    margin-top: 5px;
    flex-grow: 1;
}

.footer__link--items h2 {
    font-family: 'Sofia Pro Light', sofia-pro, sans-serif;
    font-weight: 400;
    margin-bottom: 6px;
}

.footer__link--items >h2 {
    color: #f36300;
}

.footer__link--items a {
    font-family: 'Sofia Pro Extra Light', sofia-pro, sans-serif;
    font-weight: 300;
    display: flex;
    color: #f36300;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items i {
    margin-right: 7px;
    font-size: 1.2rem;
}

.footer__link--items p {
    font-size: 1rem;
    font-family: 'Sofia Pro Extra Light', sofia-pro, sans-serif;
    font-weight: 300;
    transform: translateY(-4px);
}

.footer__link--items a:hover {
    color: #f9b678;
    transition: 0.3s ease-out;
}

.website_rights {
    font-size: 0.8rem;
    color: #f36300;
    padding-left: 60px;
    align-items: center;
    justify-content: center;
}

.website_rights p{
    font-family: 'Sofia Pro Extra Light', sofia-pro, sans-serif;
    font-weight: 300;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    .website_rights {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px){
    #footer_contact {
        display: flex;
        flex-direction: row;
    }

    #footer_contact i {
        font-size: 1.5rem;
        margin-right: 20px;
    }

    #footer_contact p{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--wrapper{
        margin-left: 40px;
    }

    .footer__links--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    #footer_contact i{
        font-size: 1.3rem;
        margin-right: 15px;
    }

    .website_rights {
        padding-left: 46px;
    }
    
}

@media screen and (max-width: 360px) {

    .footer__links--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
